/* Carousel Stylings */

.slideshow {
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
    width: 1200px;
  }
  
  .slide-wrapper {
    animation: slide 18s linear infinite;
    width: 6000px;
  }
  
  .slide {
    border-radius: 15px;
    float: left;
    height: 375px;
    width: 1200px;
  }
  
  .slide:nth-child(1) {
    background: url(../images/home1.jpg) no-repeat center;
    background-size: cover;
  }
  
  .slide:nth-child(2) {
    background: url(../images/home2.jpg) no-repeat center;
    background-size: cover;
  }

  
  .slide:nth-child(3) {
    background: url(../images/home3.png) no-repeat center;
    background-size: cover;
  }
  
  /* .slide:nth-child(5) {
    background: url(../images/c2.webp) no-repeat center top;
    background-size: cover;
  } */
  
  .slide-number {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 300px;
    text-align: center;
  }
  
  @keyframes slide {
    10% {
      margin-left: 0;
    }
  
    20% {
      margin-left: -1200px;
    }
  
    30% {
      margin-left: -1200px;
    }
    
    40% {
      margin-left: -2400px;
    }
  
    50% {
      margin-left: -2400px;
    }
  
    60% {
      margin-left: -3600px;
    }
  
    70% {
      margin-left: -3600px;
    }
  
    80% {
      margin-left: -4800px;
    }
  
    100% {
      margin-left: -4800px;
    }
  }

  main{
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 27px;
}

td{
    text-align:justify;
    padding:10px;
}

/* .button{
  background-color: #c53522;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px;
}

.button:hover{
  background-color: #c53522;

} */

input[type=submit]:hover {
  background-color: #c53522;
}

input[type=submit] {
  background-color: #c53522;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}