
main{
    text-align:left;
    margin-top: 100px;
}


.left-half {
    padding-top: 60px;
    position: absolute;
    width: 50%;
    margin-left: 110px;
  }
  
  .right-half {
    position: absolute;
    padding-top: 30px;
    padding-left: 740px;
    left: 0;
    width: 50%;
  }

  input[type=submit]:hover {
    background-color: #c53522;
  }
  
  input[type=submit] {
    background-color: #c53522;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  ul.breadcrumb {
    padding: 10px 1px;
    list-style: none;
    
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .card{
      background-color: rgb(113, 107, 107);
  }