.heading{
    text-align: center;
    
    
  }

  .description {
      text-align: center;
  }
  
  u {
    
	text-decoration: underline;
  	text-decoration-color: rgb(17, 120, 151);
  }

  .main-card{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }

  .card {
    margin: 40px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  .container {
    padding: 2px 16px;
  }